@charset "UTF-8";
/* 회원가입 폼 컨테이너 */
.enroll_container {
    width: 700px;
    margin: 50px auto;
    position: relative;
	/* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 컨테이너 제목 */
.enroll_container h2 {
    line-height: 80px;
    letter-spacing: 5px;
}
/* 회원가입 폼 */
[name=enrollFrm] {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.essential_mark {
	color : red;
}
/* 입력 영역 */
.input_area{
    width: 100%;
    position: relative;
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
}
.input_area:first-child{
    margin-top: 50px;
}
.input_area label {
    margin-left: 50px;
}
.input_area input {
    width: 400px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 15px;
    outline: none;
    text-indent: 5px;
}
/* 휴대전화 영역 */
.phone_area #phone1 {
	width: 100px;
    margin: 0 0 0 120px;
    border: none;
    border-radius: 5px;
	background-color: #b9b9b9;
    text-align: center;
}
.phone_area #phone2 {
    width: 300px;
    position: relative;
}

/* 이메일 영역 */
.email_area #emailId {
    width: 180px;
    margin: 0 0 0 120px;
}
.email_area #emailAddr {
    width: 180px;
    /* position: relative; */
    /* left: 50px; */
}

/* 주소영역 */
#roadAddr {
    width: 300px;
    margin: 0 0 0 130px;
    border-radius: 5px;
    background-color: #b9b9b9;
    border: none;
    color: #4b4b4b;
}
#btn_address {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    cursor: pointer; 
}
.addr_area {
    margin-top: 15px;
}
.addr_area #roadDetail {
    width: 400px;
    margin-left: 248px;
}

/* 비밀번호 확인 버튼 */
.input_area #btn_show_pwd {
    background: none;
    border: none;
    z-index: 3;
    
    position: absolute;
    bottom: 5px; right: 50px;
    cursor: pointer;
}
/* 버튼 영역 */
.btn_area {
	margin: 80px auto;
	display: flex;
	justify-content: center;
}
/* 회원가입 버튼 */
#btn_enroll {
    width: 300px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* 취소하기 버튼 */
#btn_cancel {
    width: 100px;
    margin-left: 10px;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(125, 125, 125);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* 유효성 검사 메세지 */
.message_box {
    position: relative;
    left: 260px;
    top: -15px;
    font-size: 13px;
    color: red;
}