@charset "UTF-8";

body {
	width: 1024px;
	margin: 0 auto;
}

ul, li {
	list-style: none;
}

.container .title {
	margin: 50px 0 25px 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #000;
	text-align: center;
}

table {
	display: table;
	box-sizing: border-box;
	text-indent: initial;
}

th {
	display: table-cell;
	vertical-align: inherit;
	font-weight: bold;
	text-align: center;
}

.inquire_input {
	padding: 20px 0;
	font-size: 0;
	text-align: left;
	vertical-align: middle;
}

.inquire_input th .label {
	display: inline-block;
	position: relative;
	padding: 0 10px;
	font-size: 15px;
	font-weight: 700;
	line-height: 40px;
	color: #000;
}

.inquire_input tr:last-child th, .inquire_input tr:last-child td {
	border-bottom: 1px solid #d6dce1;
}

table th, table td {
	border-top: 1px solid #d6dce1;
}

.inquire_input th, .inquire_input td {
	padding: 20px 0;
	font-size: 0;
	text-align: left;
}

.inquire_input td textarea {
	width: 850px;
	max-width: 100%;
	height: 370px;
	padding: 12px 15px;
	font-size: 14px;
	line-height: 20px;
}

textarea {
	vertical-align: middle;
	resize: none;
}

.inquire_input2 {
	margin-top: 50px;
	text-align: center;
}

button {
	margin: 0 50px;
}

.form-select {
	width: 150px;
}