@charset "UTF-8";

@charset "UTF-8";
              body{max-width: 1024px; margin: 0 auto;}
        li    {list-style:none; }
        #header1 {margin: 100px 0 50px 0;  text-align: center; font-weight: bold; font-size: 30px;}
        nav   {transform: translateY(-10px); }
        nav ul {display: flex; justify-content:center;}
        nav ul  li a {text-decoration:none;color:rgb(131, 130, 130); padding:0 30px; font-weight: bold; font-size: 20px;}
        nav ul li:not(:last-of-type)::after {content: "|"}    
        nav ul li a:hover    {color:rgb(0, 0, 0);}



        #title {
          text-align: center;
          margin: 50px auto;
        }
        
        .content .qna .title {
        margin: 0;
        padding: 5px 0 5px 55px;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: #2a2e31;
        text-align: right;
        }
        .content .qna .que {
        background: #0071bb;
        }
        .content{
          padding: 30px;
          border-top: 1px solid #d6dce1;
          border-bottom: 1px solid #d6dce1;
        }

        .content .qna .ans {
         background: #00a66c;
        }
        .content .qna i {
         float: left;
        width: 40px;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Montserrat';
        line-height: 40px;
        color: #fff;
        text-align: center;
        }
        em, address, i {
        font-style: normal;
        }
        .content .answer{
        position: relative;
        left: -30px;
        width: calc(100% + 60px);
        margin-top: 25px;
        padding: 30px;
        background: #e4f4ef;
        }

        .content ul li {
        list-style: disc;
        }
        .ctrl {
         text-align : right;
         margin : 0 50px; 
        } 