@charset "EUC-KR";

#header2 {margin: 100px 0 50px 0;  text-align: center; font-weight: bold; font-size: 30px;}
      .navi ul {display: flex; justify-content:center;}
      .navi ul li a {text-decoration:none;color:rgb(131, 130, 130); padding:0 30px; font-weight: bold; font-size: 20px;}
      .navi ul li:not(:last-of-type)::after {content: "|"}    
      .navi ul li a:hover    {color:rgb(0, 0, 0);}

/* 홈페이지 규격 */
.container {
    width: 1024px;
    height : auto;
    margin: 0 auto;  /* 화면에 가운데 정렬하기 위함 */
}

.comment-container{
    width: 1024px;
    margin: 0 auto;  /* 화면에 가운데 정렬하기 위함 */
}

/* header */

#logo {
    margin: 20px auto 0;
}
#logo > img {
    width: 150px;
    height: auto;
}
a {
    color: rgb(50, 50, 50);
    font-size: 18px;
    font-weight: 600;
}

/* 컨텐츠 영역 */
.main {
    width: 1024px;
    height: auto;;

}

#goList{
	float: left;	
}

#btn_goList{
	border-radius:30%;
	background-color:white;
	
}


#title, #writer{
    margin-top: 20px;
}

#date{
	text-align:right;
	margin-top:10px;
	font-weight:200;
}

#readCount{
    text-align: right;
}

textarea{
    width: 940px;
    margin: 0px auto;
}

#btn-comment-enroll1{
    float: right;
    width: 70px;
    height: 56px;
}


table#tbl-comment{width:100%; height:auto; margin:0 auto; border-collapse:collapse;} 
table#tbl-comment tr td{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}
table#tbl-comment tr td:first-of-type{padding: 5px 5px 5px 50px;}
table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
table#tbl-comment button.btn-reply{display:none;}
table#tbl-comment tr:hover {background:lightgray;}
table#tbl-comment tr:hover button.btn-reply{display:inline;}
table#tbl-comment sub.comment-writer {color:navy; font-size:14px}
table#tbl-comment sub.comment-date {color:rgb(128, 0, 255); font-size:10px}

table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}
table#tbl-comment tr.level2 sub.comment-writer {color:black; font-size:14px}
table#tbl-comment tr.level2 sub.comment-date {color:rgb(128, 0, 255); font-size:10px}
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-comment-enroll2{width:60px; height:23px; color:white; background:lightslategray; position:relative; top:-5px; left:10px;}


