@charset "UTF-8";

hr{
     padding: 1px;
 }
.container {
   	width: 1024px;
    margin: 0 auto;  /* 화면에 가운데 정렬하기 위함 */
}
#title{
     font-size: 30px;
     font-weight: bold;
     padding:  10px 0 0 10px;
 }
#user-info{
     font-size: 20px;
     font-weight: bold;
 }
.recipient-info{
     background-color: lightgrey;
     padding: 30px;
     display: block;
     margin: 20px;
 }
.product-info img{
     width: 10px;
 }
.product-info{
     padding: 30px;
     display: block;
 }
.product-price{
     padding: 0 30px;
 }