@charset "UTF-8";

hr{
    padding: 1px;
}
.figure{
    padding: 5px;
    text-align: center;
}
.valSave{
	text-align: center;
}
.valSave table td{
	text-align: left;
}
.valSave input, button{
	width: 40px;
	height: 35px;
	text-align: center;
	margin: 3px;
}
.valSave select{
	width: 250px;
}
#buy, #cart, #liveToastBtn{
	width: 140px;
}

.product-info{
    text-align: center;
}
.product-info img{
    width: 65%;
    margin: 15px
}
.product-info p{
    font-size: 30px;
    font-weight: bold;
}
h6{
	margin : 80px
}
#photo-container{
	text-align: center;
}
#review{
	font-size: 30px;
    font-weight: bold;
}
#btn-more{
	width: 100px;
}

#cPage{
	color : white;
}