@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

/* 장바구니 조회 컨텐트 영역*/
.myCart_content {
    width: 1000px;
    margin: 0 auto;
}
.myCart_content h2{
	font-weight: bold;
	margin-left: 20px;
}

/* 장바구니 리스트 영역 */
.myCart_list {
    width: 1000px;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 15px;
}
.myCart_list thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
.myCart_list th {
    /* background-color: red; */
    padding: 10px 0;
}
.myCart_list td {
    /* background-color: blue; */
    padding: 5px 0;
}
.myCart_list tr {
	border-bottom: 1px solid gray;
}

/* 체크박스 영역 */
.myCart_list td:first-child {
	padding: 5px;
	text-align: center;
}
.myCart_list input[type=checkbox] {
	width: 15px;
	height: 15px;
	accent-color: black;	
}

/* 상품정보 영역 */
.myCart_list .proNo {
    width: 450px;
    text-align: center;
}
.myCart_list .proInfo {
	padding: 20px;
	display: flex;
	align-items: center;
}
.myCart_list .proInfo {
	vertical-align: middle;
}
.myCart_list a {
	color: black;
	font-weight: bold;
}

/* 상품정보 사진 영역 */
.myCart_list .proInfo img {
	width: 120px;
	height: 140px;
}
.myCart_list .proNo ul {
	text-align: left;
	padding: 0 10px;
}
.myCart_list .proNo li:nth-child(2) {
	font-weight: bold;
}
.myCart_list .proNo li:nth-child(2) a {
	color: black;
}
.myCart_list .proNo li:nth-child(3) {
	font-weight: bold;
	color: rgb(125, 125, 125);
}

/* 상품금액 영역 */
.myCart_list .proPrice {
    width: 130px;
    text-align: center;
}

/* 수량 영역 */
.myCart_list .cartBuyStock {
    width: 120px;
    text-align: center;
}
.myCart_list .cartBuyStock input {
	width: 30px;
	text-align: center;
	border: 1px solid rgb(150, 150, 150);
	border-radius: 5px;
	margin: 0 5px;
}
.myCart_list .cartBuyStock button {
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}
.myCart_list input::-webkit-outer-spin-button,
.myCart_list input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 주문금액 영역 */
.myCart_list .orderPrice {
	width: 130px;
    text-align: center;
    font-weight: bold;
}

/* 주문상태 영역 */
.myCart_list .deliverType {
    text-align: center;
}
.myCart_list .deliverType span:nth-child(3) {
	font-size: 17px;
	font-weight: bolder;
}

/* 장바구니 삭제 버튼 영역 */
.myCart_content #myCart_btn_del_area {
	position: relative;
	width: 100%;
	height: 20px;
	/* background-color: red; */
	margin-top: 10px;
}
.myCart_content #btn_del {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

/* 장바구니 페이지바 영역*/
.myCart_content .pagebar {
	position: relative;
	margin: 20px auto;
	text-align: center;
}

/* 장바구니 주문 버튼 영역 */
.myCart_content #myCart_btn_order_area {
	position: relative;
	width: 100%;
	height: 20px;
	/* background-color: red; */
	margin: 30px auto;
	text-align: center;
}
.myCart_content #btn_order {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #004080;
	color: white;
	border: none;
	font-weight: bold;	
}