@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

/* 내 주문 내역 조회 컨텐트 영역*/
.myOrderList_content {
    width: 1000px;
    margin: 0 auto;
}
.myOrderList_content h2{
	font-weight: bold;
}
/* 주문내역조회 헤더 영역 */
.myOrderList_content_header {
    margin-left: 20px;
}

/* 주문내역조회 리스트 영역 */
.myOrderList_list {
    width: 1000px;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 15px;
}
.myOrderList_list thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
.myOrderList_list th {
    /* background-color: red; */
    padding: 10px 0;
}
.myOrderList_list td {
    /* background-color: blue; */
    padding: 5px 0;
}
.myOrderList_list tr {
	border-bottom: 1px solid gray;
}

/* 상품정보 영역 */
.myOrderList_list [name="proNo"] {
    width: 450px;
    text-align: center;
}

.myOrderList_list .proInfo {
	padding: 20px;
	display: flex;
	align-items: center;
}
.myOrderList_list .proInfo {
	vertical-align: middle;
}
/* 상품정보 사진 영역 */
.myOrderList_list .proInfo img {
	width: 120px;
	height: 140px;
}
.myOrderList_list [name="proNo"] ul {
	text-align: left;
	padding: 0 10px;
}
.myOrderList_list [name="proNo"] li:nth-child(2) {
	font-weight: bold;
}
.myOrderList_list [name="proNo"] li:nth-child(2) a {
	color: black;
}
.myOrderList_list [name="proNo"] li:nth-child(3) {
	font-weight: bold;
	color: rgb(125, 125, 125);
}

/* 주문번호 영역 */
.myOrderList_list [name="orderNo"] {
    width: 110px;
    text-align: center;
}

/* 주문일자 영역 */
.myOrderList_list [name="orderDate"] {
    width: 100px;
    text-align: center;
}

/* 주문금액(수량) 영역 */
.myOrderList_list [name="orderPrice"] {
    text-align: center;
}
.myOrderList_list [name="orderPrice"] span:first-child {
	font-weight: bold;
}
/* 주문상태 영역 */
.myOrderList_list [name="orderStatus"] {
    text-align: center;

}

/* 후기 작성 버튼 영역 */
.myOrderList_list [name="reviewAdd"] {
 	text-align: center;
}
.myOrderList_list #btn_review_add {
	border: none;
	color: white;
	border-radius: 5px;
	background-color: black;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 10px;
}
.myOrderList_list #review_wrong {
	font-size: 12px;
	color: rgb(125, 125, 125);
	font-weight: bold;
}

/* 내 게시글 조회 페이지바 영역*/
.myOrderList_content>.pagebar {
	position: relative;
	margin: 20px auto;
	text-align: center;
}
