@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

/* 내 주문 내역 조회 컨텐트 영역*/
.myOrderList_content {
    width: 1000px;
    margin: 0 auto;
}

/* 주문내역조회 헤더 영역 */
.myOrderList_content_header {
    margin-left: 20px;
}

/* 주문내역조회 리스트 영역 */
.myOrderList_list {
    width: 1000px;
    margin-top: 20px;
    border-collapse: collapse;
}
.myOrderList_list thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.myOrderList_list th {
    /* background-color: red; */
    padding: 10px 0;
    font-size: 15px;
}
.myOrderList_list td {
    /* background-color: blue; */
    padding: 5px 0;
    font-size: 12px;
}
.myOrderList_list tr {
	border-bottom: 1px solid gray;
}

/* 상품정보 영역 */
.myOrderList_list [name="proNo"] {
    width: 450px;
    text-align: center;
    background-color: red;
}

/* 주문번호 영역 */
.myOrderList_list [name="orderNo"] {
    width: 110px;
    text-align: center;
    background-color: pink;
}


/* 주문일자 영역 */
.myOrderList_list [name="orderDate"] {
    width: 100px;
    text-align: center;
}

/* 주문금액(수량) 영역 */
.myOrderList_list [name="orderPrice"] {
    text-align: center;
    background-color: blue;
    font-size: 15px;
}

/* 주문상태 영역 */
.myOrderList_list [name="orderStatus"] {
    text-align: center;

}

/* 후기 작성 버튼 영역 */
.myOrderList_list [name="reviewAdd"] {
 	text-align: center;
}
/* 상품 사진 이미지 */
img {
	width: 180px;
	height: 180px;
	margin: auto;
}


