@charset "UTF-8";
/* 전체 요소 제거 후 시작 */
* {
    list-style: none;
    text-decoration: none !important;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}

.indexText{
	color : #e5e5e5;
}


/* header */
header {
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: nowrap;
    z-index: 999;
    position: relative;
}
header nav {
    width: 100%;
    height: 130px;
}
header li {
    margin: auto 15px;
}

header a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin : 0;
}
.btn-group-sm>.btn {
 	padding : 0 !important;
}


#admin {
	color: gray;
}

#my {
	color: gray;	
}

/* footer */
footer a {
	text-decoration: none;
}

footer img {
	display : flex;
	height: 25px
}

footer {
    background-color: light;
    margin-top: 80px;
    height: 100px;
}