@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/* 홈페이지 규격 */
.container {
    width: 1024px !important; 
    margin: 0 auto !important;  /* 화면에 가운데 정렬하기 위함 */ 
}

/* 헤더 */
header {
    background-color: skyblue !important;
    display: flex !important;
    flex-wrap: nowrap !important; 
}
nav {
    width: 100% !important;
    height: 100px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    text-decoration-line: none !important; 
}

adminmenu {
    width: 100% !important;
    height: 100px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
}

ul {
    list-style: none !important;
    margin: auto 20px !important;

}
li {
    float: left !important;
    margin: auto 20px !important; 
}

a {
    color: rgb(50, 50, 50) !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    text-decoration: none;
}

nav {
    width: 100% !important;
    height: 100px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    text-decoration-line: none !important; 
}
/* adminpage 컨텐트 영역*/
.adminPage_content {
	width: 1000px;
    margin: 0 auto;
}
.adminPage_content h2 {
	font-weight: bold;
	margin-left : auto;
	margin-right : auto;
	
}
.adminPage_content a {
	text-decoration: none;
}
/* adminpage 헤더 영역 */
.adminPage_content_header {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.adminPage_content_header ul {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
.adminPage_content_header a {
    color: rgb(130, 130, 130);
    margin: 0 20px;
    font-weight: bold;
}


/* adminpage 리스트 영역 */
.table {
    width: 1000px;
    border-collapse: collapse;
    text-align : center;
}

.th-1 {
	width: 10px;
}

.th-2 {
	width: 100px;
}

.th-3 {
	width: 300px;
}

.th-6 {
	width: 110px;
}
.th-7 {
	width: 50px;
}

.th-8 {
	width: 50px;
}

/* 내 게시글 조회 페이지바 영역*/
.adminPage_content>.pagebar {
	position: relative;
	margin: 20px auto;
	text-align: center;
}
